<%= render('components/flashbar') %>
<div class="bg-[#15343c] w-full h-svh flex justify-center items-center">
    <div class="bg-white w-full lg:m-60 m-4 p-4 rounded-lg shadow">
        <%= yield %>
    </div>
</div>